In [1]:
import pandas as pd

In [2]:
df_indo = pd.read_csv("./scrape_results/indo_5.csv", sep=";")

In [3]:
df_indo.head()

,created_at,id_str,full_text,quote_count,reply_count,retweet_count,favorite_count,lang,user_id_str,conversation_id_str,username,tweet_url
0,Wed Jan 06 04:08:12 +0000 2021,1346669871891849216,"namun lihat hasil nya, Bu Risma, wanita tua yg...",0,0,0,0,in,1227589641252917248,1346669871891849216,underdo55595692,https://twitter.com/underdo55595692/status/134...
1,Mon Jan 04 09:29:04 +0000 2021,1346025846440480768,"Aku yg dari awal gk percaya dgn covid, Tad pas...",0,0,0,0,in,723545344148013058,1346025846440480768,khoirul0504,https://twitter.com/khoirul0504/status/1346025...
2,Wed Dec 30 10:11:37 +0000 2020,1344224615527116801,@SuwandaBen @fadlizon @Roskafe1 Jancok !! Cang...,0,1,0,0,in,1273864261391933442,1344141426716602371,AchmadS86871449,https://twitter.com/AchmadS86871449/status/134...
3,Fri May 29 19:36:13 +0000 2020,1266453309373603840,@ahongjawa @IkiJuned @Muji78015926 Astaga kek ...,0,4,0,9,in,1248103223279288322,1266423392481054721,MieSedaapAja,https://twitter.com/MieSedaapAja/status/126645...
4,Fri May 22 14:59:47 +0000 2020,1263847030163533826,heh surabaya sehari doang udah 300 org yg posi...,0,1,0,0,in,249539478,1263847030163533826,kdyowoo,https://twitter.com/kdyowoo/status/12638470301...

In [10]:
df_indo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   created_at           5 non-null      object
 1   id_str               5 non-null      int64
 2   full_text            5 non-null      object
 3   quote_count          5 non-null      int64
 4   reply_count          5 non-null      int64
 5   retweet_count        5 non-null      int64
 6   favorite_count       5 non-null      int64
 7   lang                 5 non-null      object
 8   user_id_str          5 non-null      int64
 9   conversation_id_str  5 non-null      int64
 10  username             5 non-null      object
 11  tweet_url            5 non-null      object
dtypes: int64(7), object(5)
memory usage: 612.0+ bytes

In [4]:
# Cari indeks baris di mana kolom 'text' memiliki tipe data float
float_indices = df_indo[
    df_indo["full_text"].apply(lambda x: isinstance(x, float))
].index

# Tampilkan baris dengan nilai float
print("Indeks baris dengan nilai float di kolom 'text':", float_indices)

# Opsional: Tampilkan data dari baris-baris tersebut
print(df_indo.loc[float_indices])

Indeks baris dengan nilai float di kolom 'text': Index([], dtype='int64')
Empty DataFrame
Columns: [created_at, id_str, full_text, quote_count, reply_count, retweet_count, favorite_count, lang, user_id_str, conversation_id_str, username, tweet_url]
Index: []

In [6]:
# Read the CSV files
df1 = pd.read_csv("./scrape_results/dataset_covidsurabaya_merged.csv", sep=";")
df_indo = pd.read_csv("./scrape_results/indo_5.csv", sep=";")

# Concatenate the dataframes
merged_df = pd.concat([df1, df_indo], ignore_index=True)

# Save the merged dataframe to a new CSV
merged_df.to_csv("./scrape_results/dataset_covidsurabaya.csv", index=False)

In [11]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1725 entries, 0 to 1724
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   created_at           1725 non-null   object
 1   id_str               1724 non-null   object
 2   full_text            1721 non-null   object
 3   quote_count          1720 non-null   float64
 4   reply_count          1720 non-null   float64
 5   retweet_count        1720 non-null   float64
 6   favorite_count       1720 non-null   float64
 7   lang                 1720 non-null   object
 8   user_id_str          1720 non-null   float64
 9   conversation_id_str  1720 non-null   float64
 10  username             1720 non-null   object
 11  tweet_url            1720 non-null   object
dtypes: float64(6), object(6)
memory usage: 161.8+ KB

In [7]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1730 entries, 0 to 1729
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   created_at           1730 non-null   object
 1   id_str               1729 non-null   object
 2   full_text            1726 non-null   object
 3   quote_count          1725 non-null   float64
 4   reply_count          1725 non-null   float64
 5   retweet_count        1725 non-null   float64
 6   favorite_count       1725 non-null   float64
 7   lang                 1725 non-null   object
 8   user_id_str          1725 non-null   float64
 9   conversation_id_str  1725 non-null   float64
 10  username             1725 non-null   object
 11  tweet_url            1725 non-null   object
dtypes: float64(6), object(6)
memory usage: 162.3+ KB

In [8]:
# Cari indeks baris di mana kolom 'text' memiliki tipe data float
float_indices = merged_df[
    merged_df["full_text"].apply(lambda x: isinstance(x, float))
].index

# Tampilkan baris dengan nilai float
print("Indeks baris dengan nilai float di kolom 'text':", float_indices)

# Opsional: Tampilkan data dari baris-baris tersebut
print(merged_df.loc[float_indices])

Indeks baris dengan nilai float di kolom 'text': Index([1721, 1722, 1723, 1724], dtype='int64')
                                             created_at  \
1721  Mon Jan 04 09:29:04 +0000 2021;134602584644048...
1722  Wed Dec 30 10:11:37 +0000 2020;134422461552711...
1723  Fri May 29 19:36:13 +0000 2020;126645330937360...
1724  Fri May 22 14:59:47 +0000 2020;126384703016353...

                                                 id_str full_text  \
1721   Tad pas di test malah hasilnya positif -_- Ti...       NaN
1722    itu kemarin sarat muatan politik sebagai upa...       NaN
1723   GAWE EN MATAMU IKU PEMPROV NGAJOKNO SURAT GAW...       NaN
1724                                                NaN       NaN

      quote_count  reply_count  retweet_count  favorite_count lang  \
1721          NaN          NaN            NaN             NaN  NaN
1722          NaN          NaN            NaN             NaN  NaN
1723          NaN          NaN            NaN             NaN  NaN
1724          NaN          NaN            NaN             NaN  NaN

      user_id_str  conversation_id_str username tweet_url
1721          NaN                  NaN      NaN       NaN
1722          NaN                  NaN      NaN       NaN
1723          NaN                  NaN      NaN       NaN
1724          NaN                  NaN      NaN       NaN